p {
    color: cornflowerblue;
background-color: darkslategrey;
text-align: center;
font-size: 48px; 
margin: 50px 150px 0px 171px;
border: mediumseagreen 10px solid;
padding: 20px;


}
video {
    width: 320;
    height: 240;
    
}